<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.n2me.androidtv">
  // ---------------------- //
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"      />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".N2meApplication"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activities.MovieDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.PlaybackActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.LoadingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.EnterPasswordActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.AutoStartReceiver"
            android:label="AutoStartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
